.tabs .tabs-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: 1px solid var(--dark-color);
  border-radius: 0;
  padding: 0.5em;
  background-color: #949494;
  color: initial;
  font-weight: bold;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;
}

.tabs .tabs-list button p {
  margin: 0;
}

.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  cursor: initial;
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  border: 1px solid var(--dark-color);
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

.tabs-vertical.tabs-container .tabs.block{
  display: flex;
}
.tabs-vertical.tabs-container .tabs.block .tabs-list{
  display: flex;
  flex-direction: column;
  flex: 40%;
  gap: 24px;
}
.tabs-vertical.tabs-container .tabs.block .tabs-list .tabs-tab {
  flex: 1 1 0;
  background-color: #f1f2f3;
}
.tabs-vertical.tabs-container .tabs.block .tabs-list .tabs-tab:hover {
 background-color: #ea1d22;
}
.tabs-vertical.tabs-container .tabs.block .tabs-list button.tabs-tab[aria-selected='true'] {
  background-color: #ea1d22;
  color: #ffffff;
}
.tabs-vertical.tabs-container .tabs.block .tabs-panel {
    border: 0;
}
.tabs-vertical.tabs-container .tabs.block .tabs-panel tr {
    display: flex;
}
.tabs-vertical.tabs-container .tabs.block .tabs-panel td{
    flex: 50%;
}
